{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Temporal Games — Data Scientist{% endblock %}

{% block body %}
<body>
	<div class="wrapper">
		<header class="inner_header" id="header">
			<div class="content">
				<a href="{% url 'home' %}"><span class="arrow">&larr;</span> Go back</a>
			</div>
		</header>
		<div class="content">
			<div class="text_right">
				<img src="{% static 'main/img/logo_main_4.svg' %}" alt="Temporal Games">
			</div>
			<div class="text_left">
				<h1>{{ jobs.3.title }}</h1>
				<p class="date"><span>{{ jobs.3.tag }}</span></p>
				<p class="list_heading"><b>Responsibilities:</b></p>
				<ul>
					<li>{{ jobs.3.responsibility_1 }}</li>
					<li>{{ jobs.3.responsibility_2 }}</li>
					<li>{{ jobs.3.responsibility_3 }}</li>
				</ul>
				<p class="list_heading"><b>Requirements:</b></p>
				<ul>
					<li>{{ jobs.3.requirement_1 }}</li>
					<li>{{ jobs.3.requirement_2 }}</li>
					<li>{{ jobs.3.requirement_3 }}</li>
				</ul>
				<p><b>Apply:</b></p>
				<p><a href="mailto:job@temporal.games" class="mailto">job@temporal.games</a></p>
			</div>
		</div>
	</div>
	<script src="{% static 'main/js/main.js' %}"></script>
</body>
{% endblock %}
