{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Temporal Games — Riflecore{% endblock %}

{% block body %}
<body>
	<div class="wrapper">
		<header class="inner_header" id="header">
			<div class="content">
				<a href="{% url 'home' %}"><span class="arrow">&larr;</span> Go back</a>
			</div>
		</header>
		<div class="content">
			<div class="text_left">
				<h1>Riflecore</h1>
				<p><b>Riflecore</b> fuses brawling fundamentals with tactical gunplay. Take map control with your teammates and demolish the enemies in a truly competitive way.</p>
				<p>Your victories and choices will shape the tides of the ongoing hybrid war on the world map, and decide the fate of key characters with each new season rollout.</p>
				<p><img src="{% static 'main/img/riflecore.jpg' %}" alt="Riflecore"></p>
				<p class="list_heading"></p>
				<ul>
					<li>Precision and drive sculpted for the competitive online gaming scene</li>
					<li>Crisp hand-drawn line art graphics infused with modern rendering tech</li>
					<li>AI companions with customizable behaviors driven by groundbreaking evolving neural networks technology</li>
					<li>Meta game — each fight leaves a mark on the world map, engaging players in a global tug of war for influence</li>
					<li>Seasonal story mode where players get to defend their narrative decisions on a worldwide scale</li>
				</ul>
				<!--<a href="#" class="submit">Visit website</a>-->
			</div>
		</div>
	</div>
	<script src="{% static 'main/js/main.js' %}"></script>
</body>
{% endblock %}
