{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Temporal Games — VFX Artist{% endblock %}

{% block body %}
<body>
	<div class="wrapper">
		<header class="inner_header" id="header">
			<div class="content">
				<a href="{% url 'home' %}"><span class="arrow">&larr;</span> Go back</a>
			</div>
		</header>
		<div class="content">
			<div class="text_right">
				<img src="{% static 'main/img/logo_main_2.svg' %}" alt="Temporal Games">
			</div>
			<div class="text_left">
				<h1>{{ jobs.1.title }}</h1>
				<p class="date"><span>{{ jobs.1.tag }}</span></p>
				<p>Join us as a versatile visual effects artist specialized in creation of stylised and captivating visual effects fit for Riflecore’s artistic vision, utilizing already designed solutions and further develop an approach for our visual effects. Become a part of our art team, work under supervision and in collaboration with the project's Art-Director and Technical Artist.</p>
				<p class="list_heading"><b>Responsibilities:</b></p>
				<ul>
					<li>{{ jobs.1.responsibility_1 }}</li>
					<li>{{ jobs.1.responsibility_2 }}</li>
					<li>{{ jobs.1.responsibility_3 }}</li>
					<li>{{ jobs.1.responsibility_4 }}</li>
					<li>{{ jobs.1.responsibility_5 }}</li>
				</ul>
				<p class="list_heading"><b>Requirements:</b></p>
				<ul>
					<li>{{ jobs.1.requirement_1 }}</li>
					<li>{{ jobs.1.requirement_2 }}</li>
					<li>{{ jobs.1.requirement_3 }}</li>
					<li>{{ jobs.1.requirement_4 }}</li>
					<li>{{ jobs.1.requirement_5 }}</li>
					<li>{{ jobs.1.requirement_6 }}</li>
					<li>{{ jobs.1.requirement_7 }}</li>
					<li>{{ jobs.1.requirement_8 }}</li>
					<li>{{ jobs.1.requirement_9 }}</li>
				</ul>
				<p><b>Apply:</b></p>
				<p><a href="mailto:job@temporal.games" class="mailto">job@temporal.games</a></p>
			</div>
		</div>
	</div>
	<script src="{% static 'main/js/main.js' %}"></script>
</body>
{% endblock %}
